
.button-main {
    border-radius: 8px;
    border: solid 2px lightgreen;
    width: 60px;
    height: 25px;
    margin: auto;
    background-color: lightgreen;
}


.button-main input{
    border: 0;
    text-decoration: none;
    padding: 0;
    background-color: inherit;
    margin: auto;
    color: whitesmoke;
    font-size: medium;
}

.button-main input:hover{
    color: gold;
}

.button-main input:active{
    outline: none;
    border: none;
}


.button-main input:focus{
    outline: none;
}

