

.card-main {
    width: 300px;
    height: 400px;
    border: 11px outset #3D3BA4;
    border-radius: 0px 40px 0px 0px;
    margin: 15px;
    background: #CE5937;
    background: -moz-linear-gradient(-45deg, #CE5937 0%, #34437D 0%, #C482C5 100%);
    background: -webkit-linear-gradient(-45deg, #CE5937 0%, #34437D 0%, #C482C5 100%);
    background: linear-gradient(135deg, #CE5937 0%, #34437D 0%, #C482C5 100%);

}

.interaction-bar{
    display: flex;
    flex-wrap: nowrap;
}

.card-main:hover{
    border-color: lightgoldenrodyellow;
    transition: 1s;
}

.card-title{
    font-size: medium;
    color: white;
    font-weight: 400;
    text-align: left;
    padding-left: 1em;
}

.camt-pic{
    max-width: 250px;
    max-height: 200px;
}