body {
  margin: 0;
  font-family: 'Open Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 95%;
  margin: auto;
  background: rgb(57,57,57);
  background: radial-gradient(circle, rgba(57,57,57,0.9836309523809523) 58%, rgba(51,55,47,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
